
    <form action="">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>Admin Login</h3>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="username">UserName</label>
            <input type="text" placeholder="Username" name="username" required>

            <br><br>

            <!-- Password -->
            <label for="pswrd">Password</label>
            <input type="password" placeholder="Password" name="pswrd" required>

            <!-- sub container for the checkbox and forgot password link -->
            <div class="subcontainer">
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                <p class="forgotpsd"> <a href="#">Forgot Password?</a></p>
            </div>


            <!-- Submit button -->
            <button type="submit">Login</button>

            <!-- Sign up link -->
            <p routerLink="../AdminRegister" class="register">Not a member?  <a href="#"> Create an new account</a></p>

        </div>

    </form>