<nav>
    <div id="logo1">
        <img src="../../assets/Timezone_logo.png" alt="">
    </div>
    <div class="navbar">
        <a href="#">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Men
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Clothing</a>
                <a href="#">Slippers & Shoes</a>
                <a href="#">Watches</a>
                <a href="#">Trimmers</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Women
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Clothing</a>
                <a href="#">Beauty</a>
                <a href="#">Bags</a>
                <a href="#">Slippers & Shoes</a>
            </div>
        </div>
        <a href="#">Shop</a>
        <!-- <a href="#">Infrastructure</a> -->
        <div class="dropdown">
            <button class="dropbtn">Product
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Smart Watch</a>
                <a href="#">Luxury watch</a>
                <a href="#">Digital Watch</a>
                <a href="#">Analog Watch</a>
            </div>
        </div>
        <a href="#">Latest</a>
        <div class="rightnav">
            <a href="#" routerLink="../AdminLogin"> Login <i class="fa fa-user-o"></i></a>
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-cart-plus"></i> Cart</a>
        </div>
    </div>
</nav>